In [2]:
#int type
a = 0B1010
print(a)
print(type(a))

b = 0XFF
print(b)
print(type(b))

10
<class 'int'>
255
<class 'int'>

In [4]:
#boolean type
c = True
print(c)
print(type(c))

True
<class 'bool'>

In [5]:
#float type
x = 99.5
print(x)
print(type(x))

99.5
<class 'float'>

In [7]:
#int type
y = int(x)
print(y)
print(type(y))

99
<class 'int'>

In [8]:
#float type
a = 66
b = float(a)
print(b)
print(type(b))

66.0
<class 'float'>

In [9]:
a = float("65")
print(a)
print(type(a))

65.0
<class 'float'>

In [10]:
#binary
print(bin(20))

0b10100

In [11]:
#hexadecimal
print(hex(10))

0xa

In [12]:
#octadecimal
print(oct(10))

0o12

In [16]:
print(oct(10))

0o12

In [21]:
#strip methods
s = "     Hey my name is sakshi     "
print(s.strip())
print(s.lstrip())
print(s.rstrip())
print(s.find("nam"))
print(s.replace("sakshi","swati"))

Hey my name is sakshi
Hey my name is sakshi
     Hey my name is sakshi
12
     Hey my name is swati

In [23]:
print(s.count("a"))
print(s.upper())
print(s.lower())
print(s.title())

2
     HEY MY NAME IS SAKSHI
     hey my name is sakshi
     Hey My Name Is Sakshi

In [24]:
a = 10
print(type(a) , a)
b = 20.54
print(type(b) , b)
c = True
print(type(c) , c)
d = "I am the best"
print(type(d) , d)

<class 'int'> 10
<class 'float'> 20.54
<class 'bool'> True
<class 'str'> I am the best

In [29]:
l=[1,"sakshi",6.4,77]
l.append(45)
print(l)

[1, 'sakshi', 6.4, 77, 45]

In [30]:
l.remove("sakshi")

In [31]:
print(l)

[1, 6.4, 77, 45]

In [34]:
del(l[1])
print(l)

[1, 77, 45]

In [43]:
lst = [12,55,5.2,"sakshi",44]
print(type(lst))
tup = tuple(lst)
print(type(tup))

<class 'list'>
<class 'tuple'>

In [47]:
for r in range(1,6):
    print(r)

1
2
3
4
5

In [51]:
dict = {1:"sakshi" , 2:"swati" , 3:"john"}
print(dict)
key = dict.keys()
for x in key:
    print(x)
val = dict.values()
for y in val:
    print(y)

{1: 'sakshi', 2: 'swati', 3: 'john'}
1
2
3
sakshi
swati
john

In [60]:
l = ["India" , "Japan" , "Austria"]
l.append("China")
print(l)
l.insert(0 , "Bhutan")
print(l)
del(l[2])
print(l)

['India', 'Japan', 'Austria', 'China']
['Bhutan', 'India', 'Japan', 'Austria', 'China']
['Bhutan', 'India', 'Austria', 'China']

In [63]:
name = "sakshi"
marks = 93.447
print("Name is {}, Marks are {}".format(name,marks))

Name is sakshi, Marks are 93.447

In [68]:
lst = [int(x) for x in input("Enter 3 numbers separated by comma : ").split(',')]
print(lst)

Enter 3 numbers separated by comma : 1,2,3
[1, 2, 3]

In [79]:
a = int(input("Enter a number = "))
if a==0:
    print("Neither odd nor even")
elif a%2==0:
    print("Even")
else:
    print("Odd")

Enter a number = 6
Even

In [82]:
for x in range(1,21):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [88]:
i = 1
while i<=20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [93]:
x = int(input("Enter min no. = "))
y = int(input("Enter max no. = "))
i=x
while i<=y:
    print(i)
    i+=2

Enter min no. = 1
Enter max no. = 20
1
3
5
7
9
11
13
15
17
19

In [99]:
lst = [1,2,3,4,5]
prod = 1
for x in lst:
    prod*=x #prod = x*prod
print(prod)

120

In [103]:
for x in range(10):
    if x==5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [6]:
import sys
l = sys.argv
for x in l:
    print(len(x),x)

72 /home/sakshi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py
2 -f
90 /home/sakshi/.local/share/jupyter/runtime/kernel-bfc30c7b-5a08-41c1-9967-6bc3a03aeae0.json

In [7]:
#average of two numbers
def avg(a,b):
    print("Average of two numbers is ",(a+b)/2)
avg(5,10)

Average of two numbers is  7.5

In [9]:
def avg(a,b):
    return (a+b)/2
print(avg(10,20))

15.0

In [11]:
def calc(a,b):
    x = a+b
    y = a-b
    z = a*b
    w = a/b
    return(x,y,z,w)
print(calc(10,20))

(30, -10, 200, 0.5)

In [13]:
#factorial
def factorial(n):
    if n==0:
        return 1
    else:
        return (n*factorial(n-1))
print(factorial(5))

120

In [16]:
#class
class Product:
    def __init__(self):
        self.name="Samsung"
        self.desc="Great"
        self.price="700"
p1 = Product()
print(p1.name)
print(p1.desc)
print(p1.price)

p2 = Product()
print(p2.name)
print(p2.desc)
print(p2.price)

Samsung
Great
700
Samsung
Great
700

In [22]:
#class
class Course:
    def __init__(self,name,ratings):
        self.name=name
        self.ratings=ratings
        
    def average(self):
        
c1 = Course("Python","[1,2,3,4,5]")
print(c1.name)
print(c1.ratings)

c2 = Course("Java","[1,2,3,4,5]")
print(c2.name)
print(c2.ratings)

Python
[1,2,3,4,5]
Java
[1,2,3,4,5]

In [1]:
id = input("Enter id = ")
name = input("Enter your name = ")
marks = int(input("Enter the marks scored = "))
print("id = ",id, "name = ",name, "marks = ",marks)

Enter id = 5555
Enter your name = sakshi
Enter the marks scored = 98
id =  5555 name =  sakshi marks =  98

In [7]:
x,y,z = [int(x) for x in input("Enter three numbers = ").split(',')]
avg = (x+y+z)/3
print(avg)

Enter three numbers = 1,2,3
2.0

In [9]:
rad = int(input("Enter a radius = "))
area = 3.14*rad*rad
print(area)

Enter a radius = 2
12.56